.contents {
  height: 572px;
  margin: 10px;
  background-color: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.left {
  width: 30em;
  height: 550px;
  float: left;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-radius: 4px;
  margin-bottom: 2em;
  background-color: white;
}

.user-form-header {
  background-color: #006D92;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-collapse: collapse;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.user-form-content{
  padding: 0 20px 20px 20px;
}

.right {
  margin-left: 5rem;
  width: 30em;
  height: 550px;
  float: right;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-radius: 4px;
  background-color: white;
}

.user-form-header2 {
  background-color: white;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-collapse: collapse;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.input-group {
  width: auto;
  margin-bottom: 10px;
}

.form-control {
  width: auto;
  height: 34px !important;
  cursor: pointer;
}

.select-form {
  width: 100% !important;
}

.glyphicon {
  width: auto;
}

.form-label {
  font-size: 14px;
  width: 100%;
}
