.left {
  width: 30em;
  height: auto;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 2em;
}

.user-form-header {
  background-color: #006D92;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
}

.user-form-content{
  padding: 0 20px 20px 20px;
}

.right {
  margin-left: 5rem;
  margin-right: 2em;
  width: 30em;
  height: auto;
  float: left;
  border: 1px solid #ccc;
}

.user-form-header2 {
  background-color: white;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
}

.input-group {
  width: auto;
  margin-bottom: 10px;
}

.form-control {
  width: auto;
  height: 34px !important;
  cursor: pointer;
}

.select-form {
  width: 100% !important;
}

.glyphicon {
  width: auto;
}

.form-label {
  font-size: 14px;
  width: 100%;
}
