<div>
  <form [formGroup]="addUserForm" >
    <input formControlName="fornavn" type="text" placeholder="Fornavn"/>
    <input formControlName="etternavn" type="text" placeholder="Adresse"/>
    <br>
    <input formControlName="etternavn" type="text" placeholder="Etternavn"/>
    <input formControlName="postkode" type="text" placeholder="Postkode"/>
    <input formControlName="by" type="text" placeholder="by"/>
    <input formControlName="fodseldato" type="date" />
    <select ></select>
    <!--todo: make select get-->

  </form>
</div>
