<div>
  <nav-bar-component [headerField2]="date.getFullYear()" [(headerField)]="date" (pushed)="changeDate(date.getFullYear() +$event, date.getMonth(), date.getDate())"  ></nav-bar-component>
  <nav-bar-component [headerField2]="months[date.getMonth()]" [(headerField)]="date" (pushed)="changeDate(date.getFullYear(), date.getMonth() + $event, date.getDate())"  ></nav-bar-component>
  <nav-bar-component [headerField2]="date.getDate()" [(headerField)]="date" (pushed)="changeDate(date.getFullYear(), date.getMonth(), date.getDate() + $event )"  ></nav-bar-component>

</div>
<div>
  <table>
    <thead>
    <tr>
      <th>Bruker</th>
      <th>23:00</th>
      <th *ngFor="let a of tempArr; let index = index">
        <div *ngIf="index < 10">0{{index}}:00</div>
        <div *ngIf="index >= 10">{{index}}:00</div>
      </th>
    </tr>
    </thead>
    <tr *ngFor="let shift of daysShifts[date.getDate()]; let rows = index" (click)="setshiftInChangeShift(shift)">
      <td>{{usersIndexed[shift.userId].etternavn}}, {{usersIndexed[shift.userId].fornavn}}</td>
      <td *ngFor="let b of tempArr; let index = index" >
        <div *ngIf="index <= 8 && shift.toTime == 7" class="{{cssClasses[usersIndexed[shift.userId].stillingsBeskrivelse]}}">asd</div>
        <div *ngIf="index >= 8 && index <= 15 && shift.toTime == 15" class="{{cssClasses[usersIndexed[shift.userId].stillingsBeskrivelse]}}">asd</div>
        <div *ngIf="index >= 15 && index <= 23 && shift.toTime == 23" class="{{cssClasses[usersIndexed[shift.userId].stillingsBeskrivelse]}}">asd</div>
      </td>
      <td><button>Slett vakt</button></td>
    </tr>
    <tr *ngIf="vaktansvarligIds[date.getDate()] != undefined">
      <td>VaktAsvarlig:</td>
      <td *ngIf="usersIndexed[vaktansvarligIds[date.getDate()][7]]">{{usersIndexed[vaktansvarligIds[date.getDate()][7]].etternavn}}, {{usersIndexed[vaktansvarligIds[date.getDate()][7]].fornavn}}</td>
      <td *ngIf="usersIndexed[vaktansvarligIds[date.getDate()][15]]">{{usersIndexed[vaktansvarligIds[date.getDate()][15]].etternavn}}, {{usersIndexed[vaktansvarligIds[date.getDate()][15]].fornavn}}</td>
      <td *ngIf="usersIndexed[vaktansvarligIds[date.getDate()][23]]">{{usersIndexed[vaktansvarligIds[date.getDate()][23]].etternavn}}, {{usersIndexed[vaktansvarligIds[date.getDate()][23]].fornavn}}</td>
    </tr>
  </table>


</div>

<div [hidden]="shiftPercentageOk[0]"
>
  Det er liten prosentandel av sykepleiere eller Helsefagarbeidere på skift 2300-0700
</div>
<div [hidden]="shiftPercentageOk[1]">
  Det er liten prosentandel av sykepleiere eller Helsefagarbeidere på skift 0700-1500
</div>
<div [hidden]="shiftPercentageOk[2]"
>
  Det er liten prosentandel av sykepleiere eller Helsefagarbeidere på skift 1500-2300
</div>
<button (click)="byttVakt = true">Bytt vakter</button>
<div *ngIf="byttVakt">
  <form>
    <select [(ngModel)]="vaktForBytte1.user" name = "first">
      <option *ngFor="let shift of daysShifts[date.getDate()]">{{usersIndexed[shift.userId].etternavn}}, {{usersIndexed[shift.userId].fornavn}}</option>
    </select>
    <select [(ngModel)]="vaktForBytte2.user" name = "first">
      <option *ngFor="let shift of daysShifts[date.getDate()]">{{usersIndexed[shift.userId].etternavn}}, {{usersIndexed[shift.userId].fornavn}}</option>
    </select>
    <button (click)="switchShifts()">Bytt</button>

  </form>
</div>

<div>
  <h2>Helsefagarbeider:<a class="yellowDiv">s</a></h2>
  <h2>Sykepleier:<a class="greenDiv">s</a></h2>
  <h2>Assistent:<a class="redDiv">s</a></h2>
</div>
<br>
<br>

Avdeling:
<select value="dsf" id="avdeling1">
  <option value="1">Solbakken</option>
  <option>2</option>
  <option>3</option>
</select>
<br>
<br>
<br>
<h1>Ansatte for Avdeling: .....</h1>
<div>
  <table>
    <thead>
    <th>Bruker</th>
    <th>  Ordinær tid igjen</th>
    <th>Overtid</th>
    <th>Stillingsprosent</th>
    </thead>
    <tr *ngFor="let user of allUsers" (click)="setForm(user)">
      <!--[class.selected]="shift"-->


      <td>{{user.etternavn}}, {{user.fornavn}}</td>
      <td>{{ordinaryTimeAndOvertime[user.brukerId]}}</td>
      <td>{{user.stillingsProsent}}</td>
    </tr>
  </table>


  <div>
    <h1>Tilgjengelighet</h1>
    <table>
      <thead>
      <th>Ansatt</th>
      <th>Fra</th>
      <th>Til</th>
      </thead>
      <tr *ngFor="let available of availables[date.toISOString().substr(0,7)]">
        <td>{{available[0].etternavn}}, {{available[0].fornavn}}</td>
        <td>{{available[1].substr(11, 5)}}</td>
        <td>{{available[2].substr(11, 5)}}</td>
        <!--        <td *ngFor="let b of tempArr; let index = index" >
                  <div *ngIf="index <= 8 && shift.toTime == 7" class="{{cssClasses[usersIndexed[shift.userId].stillingsBeskrivelse]}}">asd</div>
                  <div *ngIf="index >= 8 && index <= 15 && shift.toTime == 15" class="{{cssClasses[usersIndexed[shift.userId].stillingsBeskrivelse]}}">asd</div>
                  <div *ngIf="index >= 15 && index <= 23 && shift.toTime == 23" class="{{cssClasses[usersIndexed[shift.userId].stillingsBeskrivelse]}}">asd</div>
                </td>
                <td><button>Slett vakt</button></td>-->
      </tr>
      <!--      <tr *ngFor="let shift of shiftsUsersCanWork" (click)="setForm(shift)">
              <td>{{usersIndexed[shift.brukerId]}}</td>
              <td>{{shift.fromTime}}</td>
              <td>{{shift.toTime}}</td></tr>-->
    </table>
  </div>

  <div>
    <h1>Registrer Tilgjengelighet</h1>
    <label>Fra</label>
    <select [(ngModel)]="availableHour1">
      <option value="23:00">23:00</option>
      <option value="07:00">07:00</option>
      <option value="15:00">15:00</option>
    </select>
    <label>Til</label>
    <select [(ngModel)]="availableHour2">
      <option value="07:00">15:00</option>
      <option value="15:00">07:00</option>
      <option value="23:00">23:00</option>
    </select>
    <button (click)="registerAvailability()">Registrer</button>

  </div>

  <form>
    <input-field  [field]="'Ansatt'" [disabled]="true" [fieldValue]="(shiftInForm?.user.etternavn + ', ' + shiftInForm?.user.fornavn)"></input-field>

    <label for="avdeling">Skift</label>
    <select class="form-control"  id="avdeling"
            required
            [(ngModel)]="shiftInForm.toTime" name="toTime">
      <option  [value]="'0'">23:00-07:00</option>
      <option [value]="'1'">07:00-15:00</option>
      <option [value]="'2'">15:00-23:00</option>
    </select>

  </form>
  <button type="button" (click)="registerShift()" >Registrer skift</button>
  <button type="button" (click)="check()" >check</button>


</div>
