<div class="container">
  <div class="row">
    <form class="form-signin mg-btm" name="form2">
      <h1 class="heading-thin">Tilbakestill passord</h1>
      <div class="main">
        Oppgi email-adressen din for å få tilsendt en mail angående brukernavn/passord.
        <input type="text" class="form-control" id="forgotEmail" placeholder="Email" autofocus
               [(ngModel)]="model.forgotEmail" #forgotEmail="ngModel" name="forgotEmail" required>
        <div [hidden]="forgotEmail.valid || forgotEmail.pristine"
             class="alert alert-danger">
          Oppgi epostadresse.
        </div>
        <div class="btn-foot">
          <button type="submit" class="btn btn-large btn-primary pull-right"
                  (click)=requestCredentials()>Send forespørsel</button>
          <button class="btn btn-large btn-primary pull-left">Tilbake</button>
        </div>
      </div>
    </form>
  </div>
</div>
