<div class="left pull-left">
  <div class="user-form-header">
    <h4>Mine varsler</h4>
  </div>

  <button type="submit" (click)="printFunksjon()"
          class="btn btn-default btn-primary"
          [disabled]="!heroForm.form.valid">Åpne melding

  </button>
  <p>Varseler lastes ned i pdf-format</p>


  </div>


<div class="right pull-right">
  <div class="user-form-header2">
      <h4>Ny varsel</h4>
  </div>

  <label>Overskrift</label>
  <input-field class= "inputen" [field]='"tilBrukerId"' [disabled]="true" [(fieldValue)]="notification.tilBrukerId"></input-field>
  <label>Skriv en melding</label>
  <textarea class= "texten" [(ngModel)] = "melding" rows="5" cols="54" [disabled]="send"></textarea>

  <div class="form-group">
    <label for="fornavn">Til</label>
    <select class="select-form form-control" id="fornavn"
            required
            [(ngModel)]="notification.fornavn" name="fornavn">
      <option *ngFor="let user of users" [value]="noti">{{user.epost}}</option>
    </select>
  </div>

  <button type="submit" (click)="printFunksjon()"
          class="btn btn-default btn-primary"
          [disabled]="!heroForm.form.valid">Send melding
  </button>

  </div>

