<div>
  <div class="content">

    <div class="static-info">
      <div class="name">
        <h4>Navn:</h4>
        <label>{{user.fornavn}} {{user.etternavn}}</label>
      </div>
      <div class="birthday">
        <h4>Fødselsdato</h4>
        <label>{{user.fodselsdato}}</label>
      </div>
      <div class="stilling">
        <h4>Stilling</h4>
        <label>{{user.stillingsId}}</label>
      </div>
      <div class="stillingsprosent">
        <h4>Stillingsprosent</h4>
        <label>{{user.stillingsprosent}}%</label>
      </div>
    </div>

    <div class="dynamic-info">
      <div class="phone">
        <input-field [field]='"Telefonnummer:"' [(fieldValue)]="user.telefonNr"></input-field>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
</div>

