<div>
  <div class="content">

    <div class="static-info pull-left">
      <div class="static-header">
        <h4>Personlig informasjon</h4>
      </div>
      <div class="static-content">
        <div class="name">
          <div class="first-name">
            <input-field [field]='"Fornavn"' [disabled]="true" [(fieldValue)]="user.fornavn"></input-field>
          </div>
          <div class="last-name">
            <input-field [field]='"Etternavn"' [disabled]="true" [(fieldValue)]="user.etternavn"></input-field>
          </div>
        </div>
        <div class="birthdate">
          <input-field [field]='"Fødselsdato"' [disabled]="true" [(fieldValue)]="user.fodselsdato"></input-field>
        </div>
        <div class="stilling">
          <div class="stilling-navn">
            <input-field [field]='"Stilling"' [disabled]="true" [(fieldValue)]="user.stillingsId"></input-field>
          </div>
          <div class="stillingsprosent">
            <input-field [field]='"Stillingsprosent"' [disabled]="true" [(fieldValue)]="user.stillingsprosent"></input-field>
          </div>
        </div>
        <div class="department">
          <input-field [field]='"Avdeling"' [disabled]="true" [(fieldValue)]="user.avdelingId"></input-field>
        </div>
      </div>
    </div>

    <div class="dynamic-info">
      <div class="dynamic-header">
        <h4>Kontaktinformasjon</h4>
      </div>
      <div class="dynamic-content">
        <div class="contact-info">
          <div class="phone">
            <input-field [field]='"Telefonnummer:"' [(fieldValue)]="user.telefonNr"></input-field>
          </div>
          <div class="email">
            <input-field [field]='"Epost:"' [(fieldValue)]="user.epost"></input-field>
          </div>
        </div>
        <div class="residence-info">
          <div class="address">
            <input-field [field]='"Adresse:"' [(fieldValue)]="user.adresse"></input-field>
          </div>
          <div class="city">
            <input-field [field]='"By:"' [(fieldValue)]="user.by"></input-field>
          </div>
        </div>
        <div class="password">
          <div class="password-one">
            <input-field [field]='"Passord:"' [(fieldValue)]="user.plaintextPassord"></input-field>
          </div>
          <div class="password-two">
            <input-field [field]='"Gjenta passord:"' [(fieldValue)]="user.plaintextPassord"></input-field>
          </div>
        </div>
        <button type="submit" class="btn btn-default btn-primary">Oppdater profil
        </button>
      </div>
    </div>
  </div>
</div>

