<form>
  <input type="text" name="search" placeholder="Søk">
  <button class="search-button">Søk</button>
  <br>
  <a href="#">
    <span class="glyphicon glyphicon-plus"></span>
    Ny bruker</a>
</form>
<table class="users">
  <tr>
    <th>Fornavn</th>
    <th>StillingsId</th>
    <th>Stillingsprosent</th>
    <th>Telefonnummer</th>
    <th>Epost</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.fornavn}}</td>
    <td>{{user.stillingsId}}</td>
    <td>{{user.stillingsprosent}}</td>
    <td>{{user.telefonNr}}</td>
    <td>{{user.epost}}</td>
  </tr>
</table>
<!-- FOOTER -->
