<div class="content">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

      <input-field [field]='"Fornavn"' [(fieldValue)]="model.fornavn"></input-field>
      <input-field [field] ='"Etternavn"' [(fieldValue)]="model.etternavn"></input-field>
      <input-field [field]='"Fodselsdato"' [(fieldValue)]="model.fodselsdato"></input-field>
      <input-field [field]='"Epost"' [(fieldValue)]="model.epost"></input-field>
      <input-field [field]='"Adresse"' [(fieldValue)]="model.adresse"></input-field>
      <input-field [field]='"By"' [(fieldValue)]="model.by"></input-field>

      <div class="form-group">
        <label for="stillingsId">Stilling</label>
        <select class="form-control"  id="stillingsId"
                required
                [(ngModel)]="model.stillingsId" name="stillingsId">
          <option *ngFor="let stil of stillinger" [value]="stil">{{stil}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="stillingsProsent">Stillingsprosent</label>
        <select class="form-control"  id="stillingsProsent"
                required
                [(ngModel)]="model.stillingsprosent" name="stillingsprosent">
          <option *ngFor="let still of stillingsProsent" [value]="still">{{still}}</option>
        </select>
      </div>


      <input-field [field]='"Timelønn"' [(fieldValue)]="model.timelonn"></input-field>

      <input-field [field]='"Passord"' [(fieldValue)]="model.passord"></input-field>

      <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Lagre bruker</button>
    </form>
  </div>
</div>
