<div class="content">

  <nav-bar-component [headerField2]="date.getFullYear()" [(headerField)]="date"
                     (pushed)="changeDate(date.getFullYear() +$event, date.getMonth(), date.getDate())"></nav-bar-component>

  <nav-bar-component [headerField2]="months[date.getMonth()]" [(headerField)]="date"
                     (pushed)="changeDate(date.getFullYear(), date.getMonth() + $event, date.getDate())"></nav-bar-component>

  <table class="vakt-bytte-table table-striped table-hover">
    <tr>
      <th class="bruker">Ansatt</th>
      <th class="dato">Dato</th>
      <th class="bruker">Ansatt å bytte med</th>
      <th class="knapp"></th>
      <th class="knapp"></th>
    </tr>
    <tbody>
    <tr *ngFor="let vaktBytte of vaktBytter" (click)="brukerId2 = vaktBytte">
      <td class="bruker" *ngIf="shiftsIndexedById[vaktBytte['vaktId']].fromTime != undefined">{{usersIndexed[vaktBytte['brukerId1']].etternavn}}, {{usersIndexed[vaktBytte['brukerId1']].fornavn}}</td>
      <td class="dato" *ngIf="shiftsIndexedById[vaktBytte['vaktId']].fromTime != undefined">{{shiftsIndexedById[vaktBytte['vaktId']].fromTime}}</td>
      <td class="bruker" *ngIf="usersIndexed[vaktBytte['brukerId2']] != undefined">{{usersIndexed[vaktBytte['brukerId2']].etternavn}},
        {{usersIndexed[vaktBytte['brukerId2']].fornavn}}
      </td>
      <td class="bruker" *ngIf="usersIndexed[vaktBytte['brukerId2']] == undefined">
        <select class="form-control" [(ngModel)]="brukerId2" name="userToReplaceWith">
          <option *ngFor="let user of allUsers" value="{{user.brukerId}}">
            {{user.etternavn}}, {{user.fornavn}}
          </option>
        </select>
      </td>
      <td class="knapp">
        <button class="btn2 btn btn-primary btn-large" (click)="godkjennVaktBytte(vaktBytte)">Godkjenn vaktbytte</button>
      </td>
      <td class="knapp">
        <button class="btn2 btn btn-primary btn-large" (click)="slettVaktBytte(vaktBytte)">Slett forespørsel</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
