.content {
  height: 100%;
  width: 100%;
  float: left;
  text-align: left;
  font-family: Ubuntu Condensed, sans-serif;
}

/*STATIC INFO*/
.static-info {
  float: left;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
}

.static-header {
  background-color: #006D92;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
}

.static-content {
  padding: 0 20px 20px 20px;
}

.first-name, .stilling-navn {
  width: auto;
  height: auto;
  float: left;
}

.last-name, .stillingsprosent {
  width: auto;
  height: auto;
  float: left;
  margin-left: 40px;
}

/*DYNAMIC INFO*/
.dynamic-info {
  float: left;
  width: auto;
  height: auto;
  margin-left: 50px;
  border: 1px solid #ccc;
}

.dynamic-header {
  background-color: #006D92;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
}

.dynamic-content {
  width: 100%;
  height: 70%;
  padding: 0 20px;
}

.contact-info, .password-one {
  width: auto;
  height: auto;
  float: left;
}

.residence-info, .password-two {
  width: auto;
  height: auto;
  float: left;
  margin-left: 40px;
}

.btn {
  float: left;
  margin-bottom: 20px;
}

/* Header under her */

.menu {
  background-color: #006D92;
  border-bottom: 4px solid #04A3ED;
  width: 100%;
  height: auto;
  padding: 0 10px;
  position: fixed;
  margin: 0;
  z-index: 1;
  opacity: 1;
  font-family: "Ubuntu Condensed", sans-serif;
}

.selected {
  background-color: #006D92;
  color: #04A3ED;
  padding: 10px 20px;
}

.selected:hover {
  background-color: #006D92;
  color: #04A3ED;
}

.menu  .navbar-nav > li > .not-selected:active {
  background-color : #006D92;
  color: #04A3ED;
}

.menu  .navbar-nav >  li >  .not-selected {
  font-size: 13px;
  background-color: #006D92;
  color: white;
  padding: 10px 20px;

}

.menu  .navbar-nav >  li >  .not-selected:hover {
  background-color: #006D92;
  color: #04A3ED;
}

.navbar-header > a {
  font-family: "Ubuntu Condensed", sans-serif;
  color: white;
  margin: 0px;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 30px;
  alignment: center;
}

.navbar-header > a:hover {
  text-decoration: none;
  color: #04A3ED;
}

/* Venstre navigation bar */

.navigation {
  height: 100%;
  width: 150px;
  float: left;
  alignment: left;
  padding-top: 50px;
  background-color: #006D92;
  border-right: 4px solid #04A3ED;
  position: fixed;
}

.user-name {
  font-size: 13px !important;
  background-color: #006D92;
  color: white;
  text-align: right;
}

.navigation .side-menu > li > a:focus {
  background-color : #006D92;
  color: #04A3ED;
}

.navigation .side-menu > li > a {
  font-size: 13px;
  background-color: #006D92;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #04A3ED;
  text-align: right;
}

.navigation  .side-menu > li > a:hover {
  background-color: #006D92;
  color: #04A3ED;

}

.navigation .side-menu > li > a:active {
  background-color : #006D92;
  color: #04A3ED;
}
